<form [formGroup]="requestForm" (ngSubmit)="request()">
    <md-card>
        <!-- <md-input-container> ****** Next version of material-->
            <md-input
                placeholder="Url"
                type="url"
                formControlName="url">
                <md-hint *ngIf="url.hasError('required') && (url.dirty || url.touched)" [ngStyle]="{'color': 'red'}"> 
                    Url is required 
                </md-hint>
            </md-input>           
        <!-- </md-input-container> -->

        <button
            md-raised-button color="accent"
            type="submit"
            [disabled]="!requestForm.valid">
            Request
        </button>
    </md-card>

    <md-card class="result" *ngIf="pageResult != null">
        <md-toolbar color="accent">Result</md-toolbar>
        <md-card-content>
            <h3>
            {{ pageResult?.url }}
            </h3>
            <h4>Tags</h4>
            <md-list>
            <md-list-item *ngFor="let tag of pageResult?.tags">
                {{ tag }}
            </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>   
</form>

       

  
