<form [formGroup]="requestForm" (ngSubmit)="request()">
    <md-card>
        <md-input-container>
            <input md-input
                placeholder="Url"
                type="url"
                formControlName="url">
            <md-hint *ngIf="url.errors.required && (url.dirty || url.touched)" [ngStyle]="{'color': 'red'}"> {{ errorMessage }} </md-hint>            
        </md-input-container>

        <button
            md-raised-button color="accent"
            type="submit"
            [disabled]="!form.valid">
            Request
        </button>
    </md-card>

    <!-- <div *ngIf="button.control.pending">ngIf... Loading......</div> -->
    <!-- <div *ngIf="button.errors"></div> -->
    <md-card class="result" *ngIf="isActive">
        <md-toolbar color="accent">Result</md-toolbar>
        <md-card-content>
            <h3>
            {{ pageResult?.url }}
            </h3>
            <h4>Tags</h4>
            <md-list>
            <md-list-item *ngFor="let tag of pageResult?.tags">
                {{ tag }}
            </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>   
</form>

       

  
