<md-sidenav-layout>

    <md-sidenav #start mode="side">
        <nav>
            <md-list>
                <md-list-item><a routerLink="/aboutMe">About me</a></md-list-item>
                <md-list-item><a routerLink="/htmlAnalyser">HTML Analyser</a></md-list-item>
                <md-list-item><a routerLink="/htmlAnalyserResults">HTML Analyser - Results</a></md-list-item>
            </md-list>
        </nav>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button (click)="start.toggle()">
            <i class="material-icons">menu</i>
        </button>
        
        Bastian Winterott

        <span class="app-toolbar-filler"></span>

        {{ currentPage }}

    </md-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
        <!-- <app-request-form></app-request-form> -->
    </div>  

</md-sidenav-layout>
