<md-sidenav-layout>

    <md-sidenav #start mode="side">
        <nav>
            <md-list>
                <md-list-item><a >About me</a></md-list-item>
                <md-list-item><a>HTML Analyser</a></md-list-item>
                <md-list-item><a>HTML Analyser - Results</a></md-list-item>
            </md-list>
        </nav>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button (click)="start.toggle()">
            <i class="material-icons">menu</i>
        </button>
        
        Bastian Winterott

        <span class="app-toolbar-filler"></span>

        Current page

    </md-toolbar>

    <div class="app-content">
        <app-request-form></app-request-form>
    </div>  

</md-sidenav-layout>
