<md-sidenav-layout>

    <md-sidenav #start mode="side">
        <nav>
            <md-list>
                <md-list-item><a>HTML Analyser</a></md-list-item>
                <md-list-item><a>HTML Analyser - Results</a></md-list-item>
            </md-list>
        </nav>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button (click)="start.toggle()">
            <i class="material-icons">menu</i>
        </button>
        
        HTML Analyser

        <span class="app-toolbar-filler"></span>

        Bastian Winterott

    </md-toolbar>

    <div class="app-content">
        <md-card>
            <app-request-form></app-request-form>
        </md-card>
        <md-card>
            <app-result result="www.Test.de"></app-result>
        </md-card>
    </div>  

</md-sidenav-layout>
